.list {
    color: #fff;
    margin-top: 10px;

    .listTitle {
        color: white;
        font-size: 20px;
        font-weight: 500;
        margin-top: 50px;
        margin-bottom: 20px;
        padding-left: 25px;
    }

    .listPosters {
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
        padding-left: 40px;

        &::-webkit-scrollbar {
            display: none;
        }
        .listPoster {
            object-fit: contain;
            width: 100%;
            max-height: 110px;
            transition: transform 450ms;
            margin-right: 10px;

            &:hover {
                transform: scale(1.08);
                // cursor: pointer;
            }
        }
        .listPosterLarge {
            max-height: 250px;

            &:hover {
                transform: scale(1.09);
            }
        }
    }
}
